In [ ]:
import pandas as pd

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [ ]:
tbl0.shape[0]

In [ ]:
tbl0.shape[1]

In [ ]:
tbl0.head(3)

In [ ]:
tbl0["_c1"]

In [ ]:
tbl0["_c1"].value_counts().sort_index()

In [ ]:
tbl0.groupby("_c1").agg({"_c2": "mean"}).reset_index()

In [ ]:
tbl0.groupby('_c1')['_c2'].mean()

In [ ]:
tbl0.groupby('_c1')['_c2'].max()

In [ ]:
unicos_tbl1 = list(map(lambda x: x.upper(),tbl1["_c4"].unique()))
unicos_tbl1.sort()
unicos_tbl1

In [ ]:
tbl0.groupby('_c1')['_c2'].sum()

In [ ]:
tbl0["suma"] = tbl0["_c0"] + tbl0["_c2"]

In [ ]:
tbl0["year"] = tbl0["_c3"].apply(lambda x: x[:4])

In [ ]:
tbl0.head(5)

In [ ]:
tbl0_10 = tbl0.groupby('_c1')['_c2'].apply(lambda x: ':'.join(x.astype(str).sort_values())).reset_index()
print(tbl0_10)

In [ ]:
tbl1_11 = tbl1.groupby('_c0')['_c4'].apply(lambda x: ','.join(x.astype(str).sort_values())).reset_index()
tbl1_11

In [95]:
tbl2["_c5"] = tbl2["_c5a"] + ":" + tbl2["_c5b"].astype(str)
tbl2_12 = tbl2.groupby('_c0')['union'].apply(lambda x: ','.join(x.astype(str).sort_values())).reset_index()
tbl2_12

    _c0                                union
0     0        bbb:0,ddd:9,ggg:8,hhh:2,jjj:3
1     1              aaa:3,ccc:2,ddd:0,hhh:9
2     2              ccc:6,ddd:2,ggg:5,jjj:1
3     3              bbb:1,eee:7,hhh:9,iii:5
4     4              ddd:5,eee:4,iii:6,jjj:3
5     5        aaa:7,bbb:2,ccc:4,fff:1,hhh:0
6     6  aaa:5,ccc:1,ddd:2,fff:8,iii:0,jjj:7
7     7                    ddd:2,fff:3,hhh:1
8     8  bbb:0,ccc:5,eee:4,fff:7,ggg:6,iii:9
9     9  bbb:7,eee:3,fff:5,ggg:2,iii:4,jjj:9
10   10        eee:4,fff:2,hhh:6,iii:0,jjj:1
11   11                    bbb:7,ggg:9,iii:6
12   12        aaa:3,bbb:9,ccc:6,eee:2,fff:4
13   13                    aaa:8,ddd:5,jjj:1
14   14        aaa:2,ccc:0,ddd:3,fff:7,jjj:6
15   15              bbb:9,ccc:0,ddd:3,eee:6
16   16  bbb:6,ddd:2,fff:4,ggg:9,hhh:5,iii:3
17   17                    ccc:9,hhh:4,jjj:5
18   18                    ccc:1,fff:9,iii:6
19   19                    aaa:3,bbb:9,fff:1
20   20                    aaa:4,ddd:9,iii:2
21   21                    ccc:5,fff:8,iii:7
22   22                    ddd:7,eee:3,jjj:2
23   23        bbb:3,ccc:7,ddd:9,ggg:0,jjj:1
24   24  aaa:1,ccc:0,ggg:8,hhh:9,iii:7,jjj:6
25   25  bbb:7,ccc:1,ddd:0,eee:6,fff:3,iii:4
26   26                    ccc:4,ddd:5,fff:0
27   27        ccc:0,ddd:9,ggg:6,hhh:3,jjj:7
28   28        ccc:3,eee:5,hhh:6,iii:7,jjj:0
29   29  aaa:2,ccc:7,ddd:6,eee:1,fff:4,ggg:0
30   30        aaa:9,bbb:3,ccc:6,ddd:0,eee:5
31   31  aaa:6,bbb:7,ddd:5,fff:9,hhh:1,iii:4
32   32              ccc:1,eee:5,fff:3,ggg:2
33   33  ccc:1,ddd:0,ggg:3,hhh:5,iii:7,jjj:8
34   34        bbb:8,ccc:3,ddd:7,hhh:6,jjj:0
35   35                    aaa:0,ddd:3,fff:5
36   36        bbb:4,ccc:0,ddd:5,iii:7,jjj:2
37   37                    eee:0,fff:2,hhh:6
38   38                    eee:0,fff:9,iii:2
39   39                    ggg:3,hhh:8,jjj:5

In [93]:
tbl2.head()

   _c0 _c5a  _c5b
0    0  jjj     3
1    0  bbb     0
2    0  ddd     9
3    0  ggg     8
4    0  hhh     2

In [98]:
tbl0_tbl2 = tbl0.merge(tbl2, on="_c0", how="inner")
tbl0_tbl2.groupby("_c1")["_c5b"].sum()

_c1
A    146
B    134
C     81
D    112
E    275
Name: _c5b, dtype: int64